.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache

.rspec
.simplecov
/coverage/
/spec/tmp

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

Gemfile.lock # checked in because this is a gem
