<!DOCTYPE html>
<html>
<head>
  <title>Accountability</title>
  <%= stylesheet_link_tag    "accountability/application", media: "all" %>
  <%= javascript_include_tag "accountability/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
